@model SKOEC.Models.Variety
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = $"Edit Variety of {Context.Session.GetString("name")}";
}

<style>
    .capitalize {
        text-transform: capitalize;
    }
</style>

<h2 class="capitalize">@ViewData["Title"]</h2>

<h4>Variety</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="VarietyId" />
            <div class="form-group">
                <input type="hidden" asp-for="CropId" class="form-control" value="@Context.Session.GetString("cropId")"/>
                <span asp-validation-for="CropId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
